<div class="sidebar" role="navigation">
  <div class="sidebar-header">Jesse M. Porch
    <button type="button" class="nav-toggle" aria-label="Toggle Navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="sidebar-nav">
    <ul class="sidebar-element sidebar-buttons">
      <li id="about_button" class="#about"><a href="#about">About Me</a></li>
      <li id="work_button" class="#work"><a href="#work">Work Experience</a></li>
      <li id="education_button" class="#education"><a href="#education">Education</a></li>
      <li id="portfolio_button" class="#portfolio"><a href="#portfolio">Portfolio</a></li>
    </ul>
    <hr class="sidebar-hr">
    <ul class="sidebar-element sidebar-contact">
      <li><a href="mailto:porchjm@gmail" target="_blank" rel="noopener">Email</a></li>
      <li><a href="https://www.linkedin.com/in/jmporch" target="_blank" rel="noopener">LinkedIn</a></li>
      <li><a href="https://twitter.com/TheJPo" target="_blank" rel="noopener">Twitter</a></li>
    </ul>
    <hr class="sidebar-hr">
    <ul class="sidebar-element sidebar-resume">
      <li><a href="content/Resume_3-22-16.pdf" target="_blank" rel="noopener">Resume</a></li>
      <li><a href="https://github.com/jporch" target="_blank" rel="noopener">GitHub</a></li>
    </ul>
  </nav>
</div><!-- /sidebar-nav -->